<h1>Singup Form</h1>
<section class="signup form">
    <%= form_for :user do |u| %>
    <%= u.label :name%>
    <%= u.text_field :name%> <br><br>
    <%= u.label :password%>
    <%= u.password_field :password%> <br><br>
    <%= u.label :password_confirmation%>
    <%= u.password_field :password_confirmation%> <br><br>
    <%= u.submit "Sign up"%>
    <% end %>
</section>
